<div class="inventory-item-definition-popup" [ngStyle]="popupStyle" [@scaleIn]="true">
    <div class="header-wrap">
        <div class="item-icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + inventoryItemDefinition.displayProperties.icon  +')')">
        </div>

        <div class="header-middle-wrap">
            <div class="title">{{inventoryItemDefinition.displayProperties.name}}</div>
            <div class="type">{{inventoryItemDefinition.itemTypeDisplayName}}</div>
        </div>
    </div>
    <div class="content-wrap">
        <div class="description">{{inventoryItemDefinition.displayProperties.description}}</div>
    </div>
</div>