<md-card class="news-card" (click)="isCollapsed = !isCollapsed">
  <md-card-title class="title-wrapper">
    <div [innerHTML]="article.title"></div>
  </md-card-title>
  <md-card-content class="content">
    <div *ngIf="isCollapsed" class="preview" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(article.bodyPreview)" [@fadeIn]></div>
    <div *ngIf="!isCollapsed" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(article.body)" [@fadeIn]></div>
  </md-card-content>
  <md-card-actions class="footer">
    <div class="text category">{{article.category}}</div>
    <div class="text date">{{article.date | pDateFormatLocaleNoSeconds}}</div>
    <div class="icon-button" *ngIf="isCollapsed" mdTooltip="Expand">
      <md-icon>expand_more</md-icon>
    </div>
    <div class="icon-button" *ngIf="!isCollapsed" mdTooltip="Collapse">
      <md-icon>expand_less</md-icon>
    </div>
  </md-card-actions>
</md-card>