@import '../../../../styles/theme.scss';

// Set host style to flex so we can center cards in fullscreen mode
:host {
    display: flex;
    justify-content: center;
}

// This is a child component so see dashboard-news.component.scss for other pieces.
.news-card {
    cursor: pointer;
    margin: .5em;
    padding: 1em;
    background-color: #f5f5f6;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;

    .title-wrapper {
        background-color: mat-color($app-primary);
        border-radius: 4px;
        font-size: 1.1em;
        color: $app-text-light;
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        md-icon {
            font-size: 22px;
            height: 22px;
            width: 22px;
        }
    }

    .content {
        font-size: .8em;
        font-weight: 400;
        color: rgba(0, 0, 0, 1.0);
        padding: 0 5px;

        .preview {
            color: rgba(0, 0, 0, .87);
        }
    }

    .footer {
        display: flex;

        .text {
            font-size: .75em;
            opacity: .6;
            line-height: 26px;
        }

        .category {
            margin-left: 20px;
        }

        .date {
            flex: 1;
            text-align: center;
        }

        .icon-button {
            color: #2962ff;

            :hover {
                color: #82B1FF;
            }
        }
    }
}
