@import '../../../styles/theme.scss';

.dd-card {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    

    .dd-card-content {
        flex: 1;
    }
}

.dd-fullscreen {
    //Fill entire screen minus the toolbar height
    min-height: 800px;
}

@media (min-width:600px) {
    .dd-fullscreen {
        //Fill entire screen minus the toolbar height, which is dynamic based on screen width
        min-height: calc(100vh - 64px);
    }
}
