@import '../../../styles/theme.scss';

//These styles apply to both dashboard and fullscreen
.dd-bungie-news {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: $bungie-blue;

    .section-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .text {
            font-size: .8em;
            color: $app-text-light;
            margin-left: 10px;

        }

        .icon {
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 10px;
        }
    }

    .tweets-wrap {
        padding: 0 6px;

        .tweets-wrap-inner {
            color: $app-text-light;
            overflow-x: scroll;
            white-space: nowrap;

            .tweet {
                cursor: pointer;
                display: inline-block;
                box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                width: 250px;
                height: 90px;
                padding: 5px 6px;
                margin: 8px 4px 5px;
                overflow: hidden;
                background-color: rgba(255, 255, 255, .1);
                border: 1px solid rgba(255, 255, 255, .2);

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }

                &:hover {
                    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
                }

                .top-wrap {
                    display: flex;

                    .image {
                        width: 32px;
                        height: 32px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    .top-left {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: .9em;
                            margin-left: 7px;
                        }

                        .time {
                            opacity: .7;
                            font-size: .7em;
                            margin-left: 8px;
                        }
                    }

                    .top-right {
                        font-size: .7em;
                        display: flex;
                        flex: 1;
                        align-items: center;
                        justify-content: space-around;
                        margin-left: 10px;

                        div {
                            display: flex;
                            align-items: center;

                            md-icon {
                                font-size: 16px;
                                width: 16px;
                                height: 16px;
                            }

                            span {
                                margin-left: 3px;
                            }

                            .retweet {
                                md-icon {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }

                .text {
                    padding: 2px 0;
                    font-size: .7em;
                    opacity: .9;
                    white-space: normal;
                    height: 55px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    ::-webkit-scrollbar-track {
        background-color: rgba($bungie-blue, .5);
    }

    ::-webkit-scrollbar {
        height: 4px;
        @media (min-width: 600px) {
            height: 9px;
        }
        background-color: #fff;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(#fff, .3);
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .8) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, .8) 75%, transparent 75%, transparent);
    }

    .news-wrap {
        padding: 0 5px;
        color: $app-text-light;

        .news-entry {
            margin: 10px 5px;
            transition: box-shadow 250ms ease;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
            height: 300px;
            overflow-y: hidden;
            background-color: rgba(255, 255, 255, .1);
            border: 1px solid rgba(255, 255, 255, .2);
            position: relative;
            cursor: pointer;

            &:hover {
                box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
            }

            .post-image {
                width: 100%;
                transform: translate3d(0,0,0);
            }

            .link {
                position: absolute;
                z-index: 1;
                top: 3px;
                right: 7px;
            }

            .bottom-wrap {
                padding: 3px 5px;

                .heading {
                    display: flex;
                    align-items: center;
                    font-size: .8em;

                    .image {
                        width: 22px;
                        height: 22px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        border-radius: 50%;
                    }

                    .author {
                        margin-left: 8px;
                    }

                    .date {
                        flex: 1;
                        text-align: right;
                        margin-right: 5px;
                        opacity: .8;
                    }
                }

                .expand {
                    float: right;
                }

                .title {
                    margin-top: 10px;
                    font-size: .9em;
                }

                .subtitle {
                    font-size: .8em;
                    opacity: .6;
                }

                .content {
                    margin-top: 15px;
                    font-size: .7em;

                    ::ng-deep a {
                        color: $app-text-link;
                    }
                }
            }
        }
    }

    .load-more {
        color: $app-text-light;
        font-size: .8em;
        text-align: center;
        padding: 7px 0;
        background-color: rgba(#fff, .1);
        cursor: pointer;

        md-icon {
            margin: 3px 5px;
        }
    }
}

//These styles only apply to dashboard cards
.dd-card-content.dd-bungie-news {
    height: calc(100% - 40px); //Subtract header height
    overflow-y: auto;
    overflow-x: hidden;

    .stream-wrap {
        &.rows2-cols2,
        &.rows3-cols2 {
            margin: 8px 0;

            .shadow-wrap {
                margin: 0 5px;
            }
        }

        .shadow-wrap {
            &.rows2-cols2 {
                margin: 0 5px;
            }
        }
    }
}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-bungie-news {
    min-height: calc(100vh - 64px);
}
