
*.log*
node_modules
/angular/build
/java/src/main/webapp/WEB-INF/appengine-web.xml
/angular/src/environments/environment.prod.ts
/java/.settings/com.google.cloud.tools.eclipse.appengine.deploy.prefs

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Generated gradle files
.gradle