
*.log*
node_modules
/angular/build
/angular/src/environments/environment.prod.ts
/angular/src/environments/environment.ts
/java/src/main/webapp/WEB-INF/appengine-web.xml
/java/.settings/com.google.cloud.tools.eclipse.appengine.deploy.prefs
/java/build

# IntelliJ
.idea
*.iml
*.ipr
*.iws

/cordova/platforms/android/build/outputs/apk/*
cordova/platforms/android/.gradle/*