@import '../../../styles/theme.scss';

.dd-manifest {
    background-color: mat-color($app-primary);
    color: $app-text-light;
    min-height: 800px;
    padding: 30px;

    .card {
        margin: 0 auto 30px;
        width: 90%;
        max-width: 800px;

        .title {
            font-size: 1.3em;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .content {
            .output-text-wrap {
                width: 100%;

                .output-text {
                    height: 800px;
                    border: 1px solid silver;
                }
            }
        }
    }
}
