<div>
  <div class="dd-manifest">

    <md-card class="card">
      <md-card-header>
        <md-card-title class="title">Download Manifest</md-card-title>
      </md-card-header>
      <md-card-content class="content">
        <p>
          <button md-raised-button (click)="downloadManifestJson()">Download Parsed Manifest JSON</button>
        </p>
        <p>
          <button md-raised-button (click)="downloadManifestDatabase()">Download Manifest SQLite DB</button>
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>