<div [class.dd-card-wrap]="!isFullscreen">
  <dd-card-header *ngIf="!isFullscreen" [dashboardCard]="dashboardCard"></dd-card-header>
  <div class="dd-item-manager" [class.dd-fullscreen]="isFullscreen" [class.dd-card-content]="!isFullscreen">
    <nav class="dd-nav" *ngIf="accountSummary?.characters != null">
      <ng-container *ngFor="let character of accountSummary.characters; let i = index">
        <button md-button (click)="selectedTabIndex = i" [class.selected]="selectedTabIndex == i">
            <div>
              <div>{{character.characterBase.raceValue.raceName}}</div>
              <div><span>&#10022;</span>{{character.characterBase.stats.STAT_LIGHT.value}}</div>
            </div>
        </button>
      </ng-container>
      <button md-button (click)="selectedTabIndex = accountSummary.characters.length" [class.selected]="selectedTabIndex == accountSummary.characters.length">Vault</button>
    </nav>

    <div *ngIf="vaultBuckets != null" class="inventory-section-wrap">
      <ng-container *ngFor="let vaultBucket of vaultBuckets">
        <div class="section-header">{{vaultBucket.bucketValue.bucketName}}</div>
        <div class="bucket-wrap">
          <dd-vault-item *ngFor="let vaultItem of vaultBucket.items" [vaultItem]="vaultItem"></dd-vault-item>
        </div>
      </ng-container>
    </div>
  </div>
</div>