@import '../../../styles/theme.scss';

//Blue grey color pallette https://material.io/guidelines/style/color.html#color-color-palette

//These styles apply to both dashboard and fullscreen
.dd-item-manager {
    background-color: #37474F;
    color: $app-text-light;

    //.dd-nav is a global style
    .inventory-section-wrap {
        .section-header {
            font-size: 2em;
        }

        .bucket-wrap {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }
    }
}

//These styles only applies to dashboard cards
.dd-card-content.dd-item-manager {
    height: calc(100% - 40px);
}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-item-manager {
    height: 100%;
}
