@import '../../../styles/theme.scss';

//Blue grey color pallette https://material.io/guidelines/style/color.html#color-color-palette

//These styles apply to both dashboard and fullscreen
.dd-item-manager {
    background-color: #37474F;
    color: $app-text-light;
    padding: 7px 5px;

    .separator {
        height: 2px;
        background-color: #B0BEC5;
        margin-top: 40px;
        background-image: linear-gradient(to right, #b8e1fc 0%, #A9D2F3 20%, #6BA8E5 30%, #CFD8DC 50%, #6BA8E5 70%, #A9D2F3 80%, #b8e1fc 100%);
    }

    .character-header {
        position: relative;
        max-width: 400px;
        font-family: destiny;
        margin: 0 auto;

        &:not(:first-of-type) {
            margin-top: 40px;
        }

        &.vault-header {
            .background {
                width: 400px;
                height: 81px;
                background-size: contain;
            }
        }

        .background {
            width: 100%;
        }

        .icon {
            position: absolute;
            width: 81px;
            height: 81px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .top-left {
            position: absolute;
            font-size: 2.1em;
            top: 8px;
            left: 95px;
        }

        .bottom-left {
            position: absolute;
            font-size: 1.25em;
            bottom: 11px;
            left: 98px;
            letter-spacing: .5px;
            opacity: .8;
        }

        .top-right {
            position: absolute;
            font-size: 2.2em;
            top: 6px;
            right: 8px;
        }

        .bottom-right {
            position: absolute;
            font-size: 1.15em;
            bottom: 10px;
            right: 11px;
            color: #FFEB3B;
            display: flex;

            .star {
                font-size: 1em;
                margin-right: 1px;
            }
        }
    }

    .section-wrap {
        margin-left: 4px;

        .section-header {
            margin: 10px 0 5px;
            font-family: destiny;
            font-size: 1.2em;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .bucket-wrap {
            display: flex;
            flex-flow: wrap;
            justify-content: left;
        }
    }
}

//These styles only applies to dashboard cards
.dd-card-content.dd-item-manager {
    height: calc(100% - 40px);
}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-item-manager {
    height: 100%;
}
