@import '../../../styles/theme.scss';

//Blue grey color pallette https://material.io/guidelines/style/color.html#color-color-palette

//These styles apply to both dashboard and fullscreen
.dd-item-manager {
    background-color: #37474F;
    color: $app-text-light;
    padding: 5px;

    .character-header {
        position: relative;
        max-width: 400px;
        margin: 10px auto;
        font-family: destiny;

        .background {
            width: 100%;
        }

        .icon {
            position: absolute;
            width: 81px;
            height: 81px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .top-left {
            position: absolute;
            font-size: 2.1em;
            top: 8px;
            left: 95px;
        }

        .bottom-left {
            position: absolute;
            font-size: 1.25em;
            bottom: 11px;
            left: 98px;
            letter-spacing: .5px;
            opacity: .8;
        }

        .top-right {
            position: absolute;
            font-size: 2.2em;
            top: 6px;
            right: 8px;
        }

        .bottom-right {
            position: absolute;
            font-size: 1.15em;
            bottom: 10px;
            right: 11px;
            color: #FFEB3B;
            display: flex;

            .star {
                font-size: 1em;
                margin-right: 1px;
            }
        }
    }

    .vault-header {
        position: relative;
        max-width: 400px;
        margin: 10px auto;
        font-family: destiny;

        .dd-tower-background {
            width: 400px;
            height: 81px;
            background-size: contain;
        }

        .icon {
            position: absolute;
            width: 81px;
            height: 81px;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .top-left {
            position: absolute;
            font-size: 2.1em;
            top: 8px;
            left: 95px;
        }
    }

    .inventory-section-wrap {
        .section-header {
            font-size: 2em;
        }

        .bucket-wrap {
            justify-content: left;
            display: flex;
            flex-flow: wrap;
            justify-content: center;
        }
    }
}

//These styles only applies to dashboard cards
.dd-card-content.dd-item-manager {
    height: calc(100% - 40px);
}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-item-manager {
    height: 100%;
}
