.site-logo-256 {
    background-image: url("../../assets/app/site-logo-256.png");
    background-repeat: no-repeat;
}

.dd-login-logo {
    background-image: url("../../assets/app/dd-login-logo.png");
    background-repeat: no-repeat;
}

// https://materialdesignicons.com/
.dd-twitter-icon {
    background-image: url("../../assets/app/twitter.png");
}

.dd-news-icon {
    background-image: url("../../assets/app/news.png");
}

.dd-dashboard-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzMwMCcgdmlld0JveD0nMCAwIDIwMCAzMDAnPgoJPGZpbHRlciBpZD0nZnV6eicgeD0nMCcgeT0nMCc+CgkJPGZlVHVyYnVsZW5jZSB0eXBlPSd0dXJidWxlbmNlJyBiYXNlRnJlcXVlbmN5PScwLjMnIG51bU9jdGF2ZXM9JzEwJyBzdGl0Y2hUaWxlcz0nc3RpdGNoJy8+Cgk8L2ZpbHRlcj4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbHRlcj0ndXJsKCNmdXp6KScgb3BhY2l0eT0nMC4xMicvPgo8L3N2Zz4=");
}

.dd-countdown-preview {
    background-image: url("../../assets/dd-countdown/dd-countdown-preview.png");
    background-repeat: no-repeat;
}

.dd-countdown-image {
    background-image: url("../../assets/dd-countdown/dd-countdown-image.png");
    background-repeat: no-repeat;
}

.dd-reddit-preview {
    background-image: url("../../assets/dd-reddit/dd-reddit-preview.png");
    background-repeat: no-repeat;
}

.dd-reddit-logo {
    background-image: url("../../assets/dd-reddit/dd-reddit-logo.png");
    background-repeat: no-repeat;
}

.dd-stats-preview {
    background-image: url("../../assets/dd-stats/dd-stats-preview.png");
    background-repeat: no-repeat;
}

.dd-public-events-preview {
    background-image: url("../../assets/dd-public-events/dd-public-events-preview.png");
    background-repeat: no-repeat;
}

.dd-twitch-preview {
    background-image: url("../../assets/dd-twitch/dd-twitch-preview.png");
    background-repeat: no-repeat;
}

.dd-bungie-news-preview {
    background-image: url("../../assets/dd-bungie-news/dd-bungie-news-preview.png");
    background-repeat: no-repeat;
}

.dd-tower-background {
    background-image: url("../../assets/app/tower-background.png");
    background-repeat: no-repeat;
}

.dd-clan-leaderboards-preview {
    background-image: url("../../assets/dd-clan-leaderboards/dd-clan-leaderboards-preview.png");
    background-repeat: no-repeat;
}
