@import '../../../../styles/theme.scss';

:host {
    margin: 0 2px;
    color: $app-text-light;

    .icon {
        width: 66px;
        height: 66px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid #aaa;
        position: relative;

        &:hover {
            cursor: pointer;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
        }

        .quantity {
            font-size: 1em;
            margin-left: 4px;
            position: absolute;
            bottom: 0;
        }
    }

    .name {
        display: inline-block;
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
        text-align: center;
        opacity: .7;
    }
}

// Apply phone styles
@media(max-width: 600px) {
    :host {
        .icon {
            width: 60px;
            height: 60px;
            border-width: 1px;

            .quantity {
                font-size: .9em;
            }
        }

        .name {
            font-size: .7em;
            width: 62px;
        }
    }
}
