@import '../../../../styles/theme.scss';

:host {
    margin: 0 2px;
    color: $app-text-light;

    .icon {
        width: 72px;
        height: 72px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #90A4AE;
        position: relative;
        font-size: .85em;

        &:hover {
            cursor: pointer;
        }

        &.equipped {
            border: 4px double #F44336;
            width: 66px;
            height: 66px;
        }

        &.selected {
            border: 2px solid #FFEB3B;
            width: 70px;
            height: 70px;
        }

        .quantity {
            color: #2A333E;
            background-color: rgba(#fff, .7);
            position: absolute;
            top: 0;
            padding: 0 3px 0 2px;
            border-bottom-right-radius: 3px;
        }

        .level {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 3px 0 4px;
            border-top-left-radius: 4px;
        }
    }

    .name {
        display: inline-block;
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 74px;
        text-align: center;
        opacity: .8;
    }
}

// Apply phone styles
@media(max-width: 600px) {
    :host {
        .icon {
            .quantity {
                //font-size: .9em;
            }
        }
    }
}
