@import '../../../../styles/theme.scss';

:host {
    margin: 0 2px;
    color: $app-text-light;

    .icon {
        width: 68px;
        height: 68px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #90A4AE;
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .quantity {
            font-size: 1em;
            margin-left: 4px;
            position: absolute;
            bottom: 0;
        }

        &.equipped {
            border: 3px double #F44336;
            width: 64px;
            height: 64px;
        }

        &.selected {
            border: 2px solid #FFEB3B;
            width: 66px;
            height: 66px;
        }
    }

    .name {
        display: inline-block;
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 70px;
        text-align: center;
        opacity: .8;
    }
}

// Apply phone styles
@media(max-width: 600px) {
    :host {
        .icon {
            width: 60px;
            height: 60px;

            .quantity {
                font-size: .9em;
            }

            &.equipped {
                width: 56px;
                height: 56px;
            }

            &.selected {
                width: 58px;
                height: 58px;
            }
        }

        .name {
            font-size: .7em;
            width: 62px;
        }
    }
}
