<div md-dialog-title> Loadouts </div>
<div md-dialog-content class="loadouts-wrap">
  <md-tab-group #tabGroup (selectedIndexChange)="selectedTabIndexChanged($event)">

    <md-tab *ngFor="let userLoadout of userLoadouts; let i = index">
      <ng-template mdTabLabel>
        {{userLoadout.name}}
      </ng-template>
      <div class="tab-content-wrap">
        {{userLoadout.itemHashes.length}}
      </div>
    </md-tab>

    <md-tab *ngIf="userLoadouts.length == 0">
      <ng-template mdTabLabel> Create Loadout </ng-template>
      <div class="tab-content-wrap">
        You don't have any loadouts!

        <button md-raised-button (click)="createLoadout()"> Create Loadout </button>
      </div>
    </md-tab>


  </md-tab-group>
</div>
<div md-dialog-actions class="card-actions">
  <button md-button (click)="closeDialog()" class="close">Close</button>
</div>