<div class="tab-label-wrap">
  <div *ngIf="character != null" class="background" [style.background-image]="character.emblemBackgroundPath != null ? domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + character.emblemBackgroundPath +')') : ''">
    <div class="top-left">{{character.classValue.displayProperties.name}}</div>
    <div class="bottom-left">{{character.raceValue.displayProperties.name}} {{character.genderValue.displayProperties.name}}</div>
    <div class="top-right">{{character.baseCharacterLevel}}</div>
    <div class="bottom-right"><span class="star">&#10022;</span>{{character.light}}</div>
  </div>
  <div *ngIf="character == null" class="background non-character">
    <div class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(' + nonCharacterIconPath + ')')"></div>
    <div class="top-left">{{nonCharacterTitle}}</div>
    <div class="bottom-left">{{nonCharacterSubtitle}}</div>
  </div>
</div>