@import '../../../../styles/theme.scss';

::ng-deep .mat-tab-label-active {
    opacity: 1;
}

::ng-deep .mat-tab-label {
    height: 44px !important;
    line-height: 44px !important;
}

.tab-label-wrap {
    margin: 0 -10px;

    .background {
        margin-top: 6px;
        width: 158px;
        height: 32px;
        background-repeat: no-repeat;
        background-size: contain;
        color: $app-text-light;
        line-height: 16px;

        &.non-character {
            background-color: #1B5E20;
            color: $app-text-light;

            .icon {
                left: 8px;
                top: 10px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }

            .top-left {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 121px;
            }
        }

        .icon {
            position: absolute;
            left: 7px;
            top: 8px;
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }

        .top-left {
            position: absolute;
            display: inline-block;
            font-size: .95em;
            left: 39px;
            top: 8px;
        }

        .bottom-left {
            position: absolute;
            display: inline-block;
            font-size: .8em;
            left: 40px;
            top: 22px;
            letter-spacing: .5px;
            opacity: .8;
        }

        .top-right {
            position: absolute;
            top: 8px;
            right: 7px;
            font-size: 1.1em;
        }

        .bottom-right {
            position: absolute;
            top: 22px;
            right: 7px;
            font-size: .75em;
            color: #FFEB3B;
            display: flex;

            .star {
                font-size: .7em;
                margin-right: 1px;
            }
        }
    }
}
