<div class="milestone" [class.complete]="isComplete">
  <div *ngIf="isNightfall" class="nightfall-bg" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net/img/destiny_content/pgcr/' + nightfallQuest.activityValue.pgcrImage  +')')"></div>

  <div class="top-wrap">
    <div *ngIf="milestone.milestoneValue.displayProperties != null" class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + milestone.milestoneValue.displayProperties.icon  +')')"></div>
    <div class="title">
      <div class="name">
        <span *ngIf="!isNightfall && milestone.milestoneValue.displayProperties != null">{{milestone.milestoneValue.displayProperties.name}}</span>
        <span *ngIf="!isNightfall && milestone.milestoneValue.displayProperties == null">{{milestone.milestoneValue.friendlyName}}</span>
        <span *ngIf="isNightfall" class="nightfall-text"> {{nightfallQuest.activityValue.displayProperties.name}} </span>
      </div>

      <div *ngIf="!isNightfall && milestone.milestoneValue.displayProperties != null" class="description">{{milestone.milestoneValue.displayProperties.description}}</div>
      <div *ngIf="isNightfall" class="description nightfall-text">{{nightfallQuest.activityValue.displayProperties.description}}</div>
    </div>

    <div class="progress">
      <md-icon *ngIf="isComplete" [mdTooltip]="'Complete'" style="color:#66BB6A">check_circle</md-icon>
      <md-icon *ngIf="!isComplete" [mdTooltip]="'Not Complete'" style="color:#994925">remove_circle</md-icon>
    </div>
  </div>

  <div *ngIf="isNightfall" class="bottom-wrap">
    <div *ngIf="nightfallModifiers.length > 0" class="bottom-section">
      <span class="title"> Modifiers </span>
      <div class="content" *ngFor="let modifier of nightfallModifiers">
        <div class="name">&#8226; {{modifier.name}}</div>
        <div class="description"> {{modifier.description}}</div>
      </div>
    </div>
    <div *ngIf="nightfallChallenges.length > 0" class="bottom-section">
      <span class="title"> Challenges </span>
      <div class="content" *ngFor="let challenge of nightfallChallenges">
        <div class="name">&#8226; {{challenge.displayProperties.name}}</div>
        <div class="description"> {{challenge.displayProperties.description}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="questRewardItemDefinitions.length > 0" class="rewards-wrap">
    <dd-inventory-item *ngFor="let rewardItemDefinition of questRewardItemDefinitions" [inventoryItemDefinition]="rewardItemDefinition"
      [size]="32"></dd-inventory-item>
  </div>
</div>