<div class="milestone" [class.complete]="isComplete">
  <div class="top-wrap">
    <div *ngIf="milestone.milestoneValue.displayProperties != null" class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + milestone.milestoneValue.displayProperties.icon  +')')"></div>
    <div class="title">
      <div class="name">
        <span *ngIf="milestone.milestoneValue.displayProperties != null">{{milestone.milestoneValue.displayProperties.name}}</span>
        <span *ngIf="milestone.milestoneValue.displayProperties == null">{{milestone.milestoneValue.friendlyName}}</span>
      </div>

      <div *ngIf="milestone.milestoneValue.displayProperties != null" class="description">{{milestone.milestoneValue.displayProperties.description}}</div>
    </div>

    <div class="progress">
      <md-icon *ngIf="isComplete" [mdTooltip]="'Complete'" style="color:#66BB6A">check_circle</md-icon>
      <md-icon *ngIf="!isComplete && isStarted" [mdTooltip]="'In Progress'" style="color: #FFB74D">radio_button_checked</md-icon>
      <md-icon *ngIf="!isStarted" [mdTooltip]="'Not Started'" style="color:#994925">remove_circle</md-icon>
    </div>
  </div>

  <div *ngIf="questRewardItemDefinitions.length > 0" class="bottom-wrap">
    <div class="rewards-wrap">
      <dd-inventory-item *ngFor="let rewardItemDefinition of questRewardItemDefinitions" [inventoryItemDefinition]="rewardItemDefinition"
        [textColor]="'#fff'" [size]="56"></dd-inventory-item>
    </div>
    <div class="dates" *ngIf="milestone.milestoneValue.hasPredictableDates">
      {{milestone.startDate | date:'M/d h:mm a'}}<br/>{{milestone.endDate | date:'M/d h:mm a'}}
    </div>
  </div>
</div>