@import '../../../../styles/theme.scss';

.milestone {
    margin-top: 12px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    min-height: 105px;
    padding: 10px 8px 8px;
    color: $app-text-light;
    position: relative;

    .nightfall-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .75;
        background-size: cover;
        background-position: center;
    }

    .nightfall-text {
        text-shadow: 1px 1px #000;
    }

    &.complete {
        background-color: rgba(0,0,0, 0.3);
        box-shadow: none;
        opacity: .7;
    }

    .top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;

        .icon {
            margin-right: 10px;
            width: 56px;
            height: 56px;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
        }

        .title {
            flex: 2;
            font-size: 20px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            margin-right: 30px;

            .name {
                display: flex;
                align-items: center;
            }

            .description {
                margin: 2px 0 0 2px;
                text-transform: none;
                opacity: .9;
                font-size: 15px;
                letter-spacing: 0;
            }
        }

        .progress {
            position: absolute;
            right: 0;
            top: 0;

            md-icon {
                cursor: pointer;
                margin-right: 8px;
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
        }
    }

    .bottom-wrap {
        margin: 20px 0 0 50px;
        display: flex;
        justify-content: flex-end;

        dd-inventory-item {
            margin: 0 5px;
        }
    }
}
