@import '../../../styles/theme.scss';

//These styles apply to both dashboard and fullscreen
.dd-public-events {
    background-color: #FF9800;
    opacity: .8;
    color: $app-text-light;
}

//These styles only applies to dashboard cards
.dd-card-content.dd-public-events {}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-public-events {}