<div>
  <!-- If Else condition based on whether or not we're on the dashboard-->
  <ng-container *ngIf="!isFullscreen; then dashboardDisplay else fullscreenDisplay"></ng-container>

  <!-- Dashboard Card Display Mode -->
  <ng-template #dashboardDisplay>
    <div class="dd-card">
      <dd-card-header [dashboardCard]="dashboardCard"></dd-card-header>
      <div class="dd-card-content dd-public-events">
        This is a demo card. Public Events Card has not been implemented.

      </div>
    </div>
  </ng-template>

  <!-- Fullscreen Display Mode -->
  <ng-template #fullscreenDisplay>
    <div class="dd-fullscreen dd-public-events">
      This is a demo card. Public Events Card has not been implemented.
    </div>
  </ng-template>
</div>