@import '../../../styles/theme.scss';

//These styles apply to both dashboard and fullscreen
.dd-milestones {
    background-color: #009688;
    color: $app-text-light;

    .gamertag-wrap {
        display: flex;
        justify-content: center;
        margin-bottom: -10px;
        padding-top: 5px;
    }

    .error {
        max-width: 400px;
        margin: 30px auto;
    }
    //Wrapper for entire tab
    .mat-tab-group {
        height: calc(100% - 65px);
        overflow: auto;
        max-width: 800px;

        ::ng-deep .mat-tab-labels {
            justify-content: center;

            .mat-tab-label-active {
                opacity: 1;
            }
        }

        ::ng-deep .sub-tab-wrap {
            padding: 5px 10px 30px;
            overflow-y: auto;

            .milestone-type {
                &:first-of-type {
                    margin-top: 0;
                }
                font-size: 2em;
                color: #F5F5F5;
                text-transform: uppercase;
                margin: 30px 5px 0;
                letter-spacing: 1px;
            }
        }
    }

    nav.dd-nav {
        button {
            line-height: 26px;
        }
    }
}

//These styles only applies to dashboard cards
.dd-card-content.dd-milestones {
    height: calc(100% - 40px);

    .mat-tab-group {
        ::ng-deep .mat-tab-body-wrapper {
            .mat-tab-body {
                .mat-tab-body-content {
                    .sub-tab-wrap {
                        .milestone-type {
                            font-size: 1.7em;
                        }
                    }
                }
            }
        }
    }
}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-milestones {
    height: 100%;
}
