<div>
  <div [class.dd-card-wrap]="!isFullscreen">
    <dd-card-header *ngIf="!isFullscreen" [dashboardCard]="dashboardCard"></dd-card-header>
    <div class="dd-milestones" [class.dd-fullscreen]="isFullscreen" [class.dd-card-content]="!isFullscreen">

      <div class="gamertag-wrap">
        <dd-gamertag-autocomplete [autocompleteId]="'milestones'" (membershipSelected)="membershipSelected($event)" (initialMembership)="membershipSelected($event)"></dd-gamertag-autocomplete>
      </div>

      <div *ngIf="accountNotFound" class="error"> Could not find a Destiny 2 account for this gamertag.</div>
      <md-tab-group #tabGroup *ngIf="selectedMembership != null" (selectedIndexChange)="selectedTabIndexChanged($event)">
        <!-- Character Specific Rep -->
        <md-tab *ngFor="let character of accountSummary?.characterData">
          <ng-template mdTabLabel>
            <dd-md-tab-character-heading [character]="character"></dd-md-tab-character-heading>
          </ng-template>

          <div class="error" *ngIf="privacyError">
            This user does not allow public viewing of Milestones. <br/> <br/>To enable public viewing of Milestones, log
            in to Bungie.net and find the correct privacy setting in your profile.
          </div>

          <div class="sub-tab-wrap">

            <!-- Special Milestones -->
            <ng-container *ngIf="characterMilestonesSpecial?.length > 0">
              <div class="milestone-type"> Special</div>
              <dd-milestone *ngFor="let milestone of characterMilestonesSpecial" [milestone]="milestone"></dd-milestone>
            </ng-container>

            <!-- Daily Milestones -->
            <ng-container *ngIf="characterMilestonesDaily?.length > 0">
              <div class="milestone-type"> Daily</div>
              <dd-milestone *ngFor="let milestone of characterMilestonesDaily" [milestone]="milestone"></dd-milestone>
            </ng-container>

            <!-- Weekly Milestones -->
            <ng-container *ngIf="characterMilestonesWeekly?.length > 0">
              <div class="milestone-type"> Weekly </div>
              <dd-milestone [milestone]="characterMilestoneNightfall" [isNightfall]="true"></dd-milestone>
              <dd-milestone *ngFor="let milestone of characterMilestonesWeekly" [milestone]="milestone"></dd-milestone>
            </ng-container>

            <!-- One Time Milestones
            <ng-container *ngIf="characterMilestonesOneTime?.length > 0">
              <div class="milestone-type"> One Time </div>
              <dd-milestone *ngFor="let milestone of characterMilestonesOneTime" [milestone]="milestone"></dd-milestone>
            </ng-container>
             -->

          </div>
        </md-tab>
      </md-tab-group>
    </div>
  </div>
</div>