<div>
  <!-- If Else condition based on whether or not we're on the dashboard-->
  <ng-container *ngIf="!isFullscreen; then dashboardDisplay else fullscreenDisplay"></ng-container>

  <!-- Dashboard Card Display Mode -->
  <ng-template #dashboardDisplay>
    <div class="dd-card-wrap">
      <dd-card-header [dashboardCard]="dashboardCard"></dd-card-header>
      <div class="dd-card-content dd-countdown">
        <div class="dd-countdown-image rows{{dashboardCard.layout.rows}}-cols{{dashboardCard.layout.cols}}"></div>
        <div class="dd-countdown-timer rows{{dashboardCard.layout.rows}}-cols{{dashboardCard.layout.cols}}">
          {{countdownValue}}
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Fullscreen Display Mode -->
  <ng-template #fullscreenDisplay>
    <div class="dd-fullscreen dd-countdown">
      <div class="date"> September 6th, 2017</div>
      <div class="dd-countdown-image"></div>
      <div class="timer">
        {{countdownValue}}
      </div>
      <div class="preorder-wrapper">
        <button md-raised-button class="preorder" (click)="sharedApp.openExternalLink('https://www.destinythegame.com/buy')">
          <md-icon>add_shopping_cart</md-icon>
          <span>Preorder</span>
        </button>
      </div>
    </div>
  </ng-template>
</div>