<div>
  <div [class.dd-card-wrap]="!isFullscreen">
    <dd-card-header *ngIf="!isFullscreen" [dashboardCard]="dashboardCard"></dd-card-header>
    <div class="dd-database" [class.dd-fullscreen]="isFullscreen" [class.dd-card-content]="!isFullscreen">

      <md-card class="input-wrap">
        <md-form-field>
          <input mdInput placeholder="Search Database" [formControl]="searchTextForm">
        </md-form-field>

        <md-select class="search-type" placeholder="Item Type">
          <md-option *ngFor="let itemType of itemTypes" [value]="itemType.value"> {{ itemType.displayValue }} </md-option>
        </md-select>
      </md-card>

      <div class="results-wrap  mat-elevation-z8">
        <md-table *ngIf="dataSource != null" #table [dataSource]="dataSource" [trackBy]="hash">
          <ng-container mdColumnDef="icon">
            <md-header-cell *mdHeaderCellDef> Icon </md-header-cell>
            <md-cell *mdCellDef="let itemDef">
              <div class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + itemDef.displayProperties.icon +')')"
                (click)="iconClicked(itemDef)">
              </div>
            </md-cell>
          </ng-container>

          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
            <md-cell *mdCellDef="let itemDef"> {{itemDef.displayProperties.name}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="type">
            <md-header-cell *mdHeaderCellDef> Type </md-header-cell>
            <md-cell *mdCellDef="let itemDef"> {{itemDef.itemTypeDisplayName}} </md-cell>
          </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>

        <md-paginator #paginator [length]="dataSource.filteredInventoryItems.length" [pageIndex]="0" [pageSize]="PAGE_SIZE" [pageSizeOptions]="[15, 50, 100]"
          (page)="paginatorChanged()">
        </md-paginator>

      </div>
    </div>
  </div>
</div>