<div>
  <div [class.dd-card-wrap]="!isFullscreen">
    <dd-card-header *ngIf="!isFullscreen" [dashboardCard]="dashboardCard"></dd-card-header>
    <div class="dd-database" [class.dd-fullscreen]="isFullscreen" [class.dd-card-content]="!isFullscreen">

      <md-card class="input-wrap">
        <md-form-field>
          <input mdInput placeholder="Search Database" [formControl]="searchTextForm">
        </md-form-field>

        <md-select class="search-category" placeholder="Item Category">
          <md-option *ngFor="let itemCategory of itemCategories" [value]="itemCategory.value">
            {{ itemCategory.displayValue }}
          </md-option>
        </md-select>
      </md-card>

      <div class="results-wrap">
      </div>
    </div>
  </div>
</div>