@import '../../../../styles/theme.scss';

.inventory-group-wrap {
    display: flex;
    flex-flow: wrap;
    max-width: 500px;
    margin-top: 15px;

    .inventory-group {
        margin: 5px 0;
        flex: 1 0 140px;
    }
}

.card-actions {
    display: flex;
    justify-content: flex-end;

    .close {
        color: $app-text-link;
    }
}
@media(max-width: 600px) {
    .inventory-group-wrap {
        .inventory-group {
            flex: 1 0 125px;
        }
    }
}
