@import '../../../../styles/theme.scss';

.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 1.2em;
        margin-bottom: 12px;
    }

    .add {
        cursor: pointer;
        font-size: .7em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.loadouts-wrap {
    margin-top: 10px;
    min-width: 300px;
    max-width: 800px;
    padding: 5px 12px;

    .loadout {
        margin-bottom: 16px;
        padding: 16px 2px 10px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

        .top {
            display: flex;
            align-items: center;

            .name {
                width: 45%;
                margin-left: 12px;
                font-size: .9em;
            }

            .options {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 14px;

                .option-wrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 7px;
                    cursor: pointer;

                    md-icon {
                        height: 20px;
                        width: 20px;
                        font-size: 20px;
                    }

                    span {
                        margin-top: 3px;
                        font-size: .7em;
                    }
                }
            }

        }

        .bottom {
            margin-top: 10px;
            padding: 0 6px;
            display: flex;
            flex-wrap: wrap;
            min-height: 60px;

            dd-inventory-item {
                zoom: .85;
            }

            .no-items {
                margin: 0 auto;
            }
        }
    }

    .no-loadouts {
        text-align: center;
        margin: 14px 0;
    }
}

.card-actions {
    display: flex;
    justify-content: flex-end;

    .close {
        color: $app-text-link;
    }
}