<div [class.dd-card-wrap]="!isFullscreen">
  <dd-card-header *ngIf="!isFullscreen" [dashboardCard]="dashboardCard"></dd-card-header>
  <div class="dd-inventory" [class.dd-fullscreen]="isFullscreen" [class.dd-card-content]="!isFullscreen">

    <div *ngIf="editMode" class="edit-menu-wrap" [@fadeInFromBottom]="editMode">
      <div class="menu-option" *ngFor="let character of accountSummary?.characters; let i = index" (click)="transferSelectedItemsToCharacterIndex(i)">
        <div class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + character.emblemPath +')')"></div>
      </div>
      <div class="menu-option">
        <div class="icon vault" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + towerDefinition.icon +')')"></div>
      </div>
      <div class="menu-option" (click)="setEditMode(false)">
        <button class="close" md-icon-button><md-icon>close</md-icon></button>
      </div>
    </div>

    <div class="search-text-wrap">
      <md-input-container class="search-text">
        <input mdInput [ngModel]="searchText" (ngModelChange)="searchTextChanged($event)" placeholder="Search Inventory">
      </md-input-container>
    </div>

    <!-- Wait until everything is loaded. charactersBucketsGroupsArray is the last thing to be loaded  -->
    <div *ngIf="charactersBucketsGroupsArray != null">
      <!-- Characters -->
      <div class="character-wrap" *ngFor="let character of accountSummary?.characters; let i = index">
        <div class="character-header">
          <img class="background" [src]="domSanitizer.bypassSecurityTrustUrl('https://www.bungie.net' + character.backgroundPath)"
            (click)="collapseSection(i)" />
          <div class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + character.emblemPath +')')"></div>
          <div class="top-left">{{character.characterBase.classValue.className}}</div>
          <div class="bottom-left">{{character.characterBase.raceValue.raceName}} {{character.characterBase.genderValue.genderName}}</div>
          <div class="top-right">{{character.characterLevel}}</div>
          <div class="bottom-right"><span class="star">&#10022;</span>{{character.characterBase.stats.STAT_LIGHT.value}}</div>

          <button md-icon-button (click)="refreshCharacter(i)" class="option refresh"><md-icon>refresh</md-icon></button>
          <button md-icon-button (click)="collapseSection(i)" class="option carrot" [class.collapsed]="collapsedSections[i]"><md-icon>keyboard_arrow_down</md-icon></button>
        </div>

        <div *ngIf="collapsedSections[i] == false && charactersBucketsArray[i] != null" class="inventory-wrap" [@expandInShrinkOut]="collapsedSections != null">
          <div class="bucket-group" *ngFor="let characterBucketGroup of charactersBucketsGroupsArray[i]">
            <ng-container *ngFor="let characterBucket of characterBucketGroup">
              <div *ngIf="!characterBucket.filteredOut && characterBucket.items.length > 0" class="bucket-wrap">
                <div class="bucket-header">{{characterBucket.bucketValue.bucketName}}</div>
                <div class="bucket">
                  <ng-container *ngFor="let inventoryItem of characterBucket.items">
                    <dd-inventory-item *ngIf="!inventoryItem.filteredOut" [class.edit-mode]="editMode" [class.transfer-disabled]="editMode && (inventoryItem.transferStatus == 2 || inventoryItem.transferStatus == 3)"
                      [class.selected]="inventoryItem.selected" [inventoryItem]="inventoryItem" [disablePopup]="editMode" [equipped]="inventoryItem.transferStatus % 2 == 1"
                      [selected]="editMode && inventoryItem.selected" (clicked)="inventoryItemClicked(inventoryItem)" (longPress)="inventoryItemLongPress(inventoryItem)"></dd-inventory-item>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="character-wrap">
        <!-- Vault -->
        <div class="character-header vault-header">
          <div class="background dd-tower-background" (click)="collapseSection(3)"></div>
          <div class="icon" [style.background-image]="domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + towerDefinition.icon +')')"></div>
          <div class="top-left">Vault</div>

          <button md-icon-button class="option refresh" (click)="refreshVault()"><md-icon>refresh</md-icon></button>
          <button md-icon-button class="option carrot" (click)="collapseSection(3)" [class.collapsed]="collapsedSections[3]"><md-icon>keyboard_arrow_down</md-icon></button>
        </div>

        <div *ngIf="collapsedSections[3] == false" class="inventory-wrap" [@expandInShrinkOut]>
          <div class="bucket-group vault-bucket-group">
            <div class="bucket-wrap vault-bucket-wrap">
              <ng-container *ngFor="let vaultBucket of vaultBucketsArray">
                <ng-container *ngIf="!vaultBucket.filteredOut">
                  <div class="bucket-header">{{vaultBucket.bucketValue.bucketName}}</div>
                  <div class="bucket">
                    <ng-container *ngFor="let inventoryItem of vaultBucket.items">
                      <dd-inventory-item *ngIf="!inventoryItem.filteredOut" [class.edit-mode]="editMode" [class.selected]="inventoryItem.selected"
                        [inventoryItem]="inventoryItem" [disablePopup]="editMode" [equipped]="inventoryItem.transferStatus % 2 == 1"
                        [selected]="editMode && inventoryItem.selected" (clicked)="inventoryItemClicked(inventoryItem)" (longPress)="inventoryItemLongPress(inventoryItem)"></dd-inventory-item>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>