@import '../../../styles/theme.scss';

//Blue grey color pallette https://material.io/guidelines/style/color.html#color-color-palette

//These styles apply to both dashboard and fullscreen
.dd-inventory {
    background-color: #37474F;
    color: $app-text-light;
    padding: 10px 0;

    .character-wrap {
        .character-header {
            position: relative;
            max-width: 400px;
            font-family: destiny;
            margin: 0 auto 40px;

            &.vault-header {
                .background {
                    width: 400px;
                    height: 81px;
                    background-size: contain;
                }
            }

            .background {
                width: 100%;
                display: block;
            }

            .icon {
                position: absolute;
                width: 81px;
                height: 81px;
                top: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
            }

            .top-left {
                position: absolute;
                font-size: 2.1em;
                top: 8px;
                left: 95px;
            }

            .bottom-left {
                position: absolute;
                font-size: 1.25em;
                bottom: 11px;
                left: 98px;
                letter-spacing: .5px;
                opacity: .8;
            }

            .top-right {
                position: absolute;
                font-size: 2.2em;
                top: 6px;
                right: 8px;
            }

            .bottom-right {
                position: absolute;
                font-size: 1.15em;
                bottom: 10px;
                right: 11px;
                color: #FFEB3B;
                display: flex;

                .star {
                    font-size: 1em;
                    margin-right: 1px;
                }
            }

            .option {
                position: absolute;
                width: 32px;
                height: 32px;
                transition: all 400ms ease-out;
                cursor: pointer;

                &.carrot {
                    bottom: -33px;
                    right: 0;

                    md-icon {
                        height: 28px;
                        width: 28px;
                        font-size: 28px;
                    }

                    &.collapsed {
                        bottom: -36px;
                        transform: rotate(-180deg);
                        transition-timing-function: ease-in;
                    }
                }

                &.refresh {
                    bottom: -30px;
                    right: 36px;

                    md-icon {
                        height: 25px;
                        width: 25px;
                        font-size: 25px;
                    }
                }
            }
        }

        .character-inventory-wrap {
            display: flex;
            flex-flow: wrap;
            align-content: flex-start;
            align-items: flex-start;
            justify-content: space-around;
            justify-content: space-evenly;
            overflow-y: hidden;

            .bucket-group {
                flex-basis: calc(100vw - 25px);
                margin-bottom: 10px;
            }

            .bucket-wrap {
                margin-left: 4px;

                .bucket-header {
                    margin: 12px 0 5px;
                    font-family: destiny;
                    font-size: 1.25em;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                .bucket {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: left;
                }
            }
        }
    }
}

//These styles only applies to dashboard cards
.dd-card-content.dd-inventory {
    height: calc(100% - 40px);
}

//These styles only apply to fullscreen mode
.dd-fullscreen.dd-inventory {
    height: calc(100vh - 64px);
    box-sizing: border-box;
    overflow-y: auto;
}

// Apply XL styles
@media(min-width: 850px) {
    .dd-inventory {
        .character-wrap {
            .character-inventory-wrap {
                .bucket-group {
                    flex-basis: calc(50vw - 10px);
                    max-width: 45%;
                }
            }
        }
    }
}

// Apply phone styles
@media(max-width: 600px) {
    .dd-inventory {
        padding: 7px 0;

        .separator {
            height: 0;
        }

        .character-wrap {
            .character-header {
                max-width: 390px;

                &.vault-header {
                    .background {
                        width: 390px;
                        height: 78px;
                    }
                }

                .icon {
                    width: 78px;
                    height: 78px;
                }
            }

            .character-inventory-wrap {
                .bucket-group {
                    flex: 1 0 calc(100vw - 15px);
                    margin: 0 5px;
                }
            }

            .bucket-wrap {
                margin-left: 0;

                .bucket-header {
                    margin: 8px 2px 3px;
                }
            }
        }
    }

    .dd-fullscreen.dd-inventory {
        // Header bar changes height at 600px
        height: calc(100vh - 56px);
    }
}
