<div class="dd-add-card" [style.width.px]="sharedApp.windowWidth * .96">
  <div class="header">
    <span>Add Card</span>
  </div>

  <div class="content">
    <md-form-field class="search-text">
      <input mdInput [ngModel]="searchText" (ngModelChange)="applyFilter($event)" placeholder="Search">
    </md-form-field>

    <div class="carousel-wrap">
      <div class="carousel">
        <ng-container *ngFor="let cardDefinition of filteredCards; let i = index">
          <div swipeable (swipedRight)="showPreviousCard()" (swipedLeft)="showNextCard()" (swipeableClick)="cardClicked(i)" class="carousel-item {{cardDefinition.previewImageClass}}"
            [style.transform]="sanitizer.bypassSecurityTrustStyle('rotateY(' + ((360 / filteredCards.length * i) - ((360 / filteredCards.length) * carouselIndex)) + 'deg) translateZ('+(30 * filteredCards.length + filteredCards.length * 2 ) +'px)')"></div>

          <!-- //Attempt to fix the blurryness of the front card
          <div swipeable (swipedRight)="showPreviousCard()" (swipedLeft)="showNextCard()" (swipeableClick)="cardClicked(i)" class="carousel-item {{cardDefinition.previewImageClass}}"
            [style.transform]="carouselIndex % filteredCards.length == i ? 
                    'translate3d(0,0,0)'
                    : sanitizer.bypassSecurityTrustStyle('rotateY(' + ((360 / filteredCards.length * i) - ((360 / filteredCards.length) * carouselIndex)) + 'deg) translateZ('+(30 * filteredCards.length + filteredCards.length * 2 ) +'px)')"
            [style.width.px]="carouselIndex % filteredCards.length == i ?  230 : 208" [style.height.px]="carouselIndex % filteredCards.length == i ?  243 : 220"></div>
            -->
        </ng-container>
      </div>
    </div>

    <div *ngIf="filteredCards.length > 0" class="search-count-summary">{{(filteredIndex % filteredCards.length) + 1}} of {{filteredCards.length}}</div>

    <div class="summary">
      <div class="title"> {{filteredCards[filteredIndex]?.title}} </div>

      <div *ngIf="availableCards.length == 0" class="description">
        <md-icon>favorite_border</md-icon><br/>You've already added all available cards!
      </div>
      <div *ngIf="availableCards.length != 0" class="description"> {{filteredCards.length > 0 ? filteredCards[filteredIndex].description : 'No matches found'}} </div>

      <div class="requires-login" *ngIf="sharedApp.accessToken == null && filteredCards[filteredIndex]?.requiresLogin">Login Required</div>
    </div>
  </div>

  <div class="footer">
    <button md-button (click)="cancel()" [disabled]="sharedApp.isTutorialMode">CANCEL</button>
    <button md-button (click)="add()" [disabled]="filteredCards.length == 0 || sharedApp.isTutorialMode">ADD</button>
  </div>
</div>