<div class="progression" [style.min-height]="hideFactionItems ? '65px' : '' ">
  <div class="progression-bg" [style.background-image]="definition.displayProperties.hasIcon ? domSanitizer.bypassSecurityTrustStyle('url(https://www.bungie.net' + definition.displayProperties.icon  +')') : ''"></div>

  <div class="name-wrap" [mdTooltip]="definition.displayProperties.description">
    <div *ngIf="definition.displayProperties.name == ''" class="name">{{definition.displayProperties.displayUnitsName}}</div>
    <div *ngIf="definition.displayProperties.name != ''" class="name">{{definition.displayProperties.name}}</div>
    <div class="progress-wrap">
      <div>{{progression.level}}</div>
      <md-progress-bar class="progress-bar" [color]="'primary'" [mode]="'determinate'" [value]="(progression.progressToNextLevel / progression.nextLevelAt) * 100">
      </md-progress-bar>
      <div>{{progression.level + 1}}</div>
    </div>
    <div class="xp">{{progression.progressToNextLevel}} / {{progression.nextLevelAt}}</div>
  </div>

  <!-- Only applies to factions -->
  <div *ngIf="!hideFactionItems" class="faction-inventory-wrap">
    <div *ngFor="let inventoryItem of progression.factionInventoryItems" class="item-wrap">
      <dd-inventory-item [inventoryItem]="inventoryItem" [size]="36"></dd-inventory-item>
      <div class="rep-value">+{{inventoryItem.quantity * inventoryItem.repValue}}xp</div>
    </div>
  </div>
</div>