@import '../../../styles/theme.scss';

.card {
    margin: .5em;
}

.category {
    font-size: .7em;
}

.title {
    font-size: .9em;
}

.content {
    font-size: .8em;
}

.actions {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}