@import '../../../styles/theme.scss';

// Set host style to flex so we can center cards in fullscreen mode
:host {
    display: flex;
    justify-content: center;
}

// This is a child component so see dashboard-news.component.scss for other pieces.
.news-card {
    margin: .5em;
    padding: 1em;
    background-color: #f5f5f6;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: .25em;
    cursor: pointer;
    max-width: 500px;

    .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2196f3;
        padding: .2em;
        border-radius: .2em;

        .title {
            font-size: .7em;
            font-weight: 400;
            color: rgba(256, 256, 256, 1.0);
            flex: 2 1 auto;
            padding-left: .125em;
        }

        .category {
            font-size: .6em;
            font-weight: 400;
            color: rgba(256, 256, 256, .87);
            text-align: right;
            padding-right: .125em;
        }
    }

    .content {
        font-size: .8em;
        font-weight: 400;
        color: rgba(0, 0, 0, 1.0);

        .preview {
            color: rgba(0, 0, 0, .87);
        }
    }

    .actions {
        display: flex;
        padding-top: 0;

        .article-date {
            flex: 1;
            font-size: .75em;
            opacity: .6;
            margin-left: 20px;
            line-height: 26px;
        }

        .icon-button {
            color: #2962ff;

            :hover {
                color: #82B1FF;
                cursor: pointer;
            }
        }
    }
}
